:root {
  --color-text: #dee2e6;
  --color-background-50: #3d444b;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-header-text: #fbd23f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-text);
  background-color: var(--color-background-900);
}

/* GLOBAL CSS */

.header-right img::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.container {
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

header {
  margin-bottom: 128px;
}

section {
  margin-bottom: 48px;
}

/* NAVBAR */

nav {
  background-color: var(--color-background-500);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  font-size: 1.7rem;
  height: auto;
  left: 0;
  padding: 25px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav-logo img {
  height: 30px;
  width: 30px;
}

.nav-logo h3 {
  font-size: 24px;
}

.search {
  background-color: var(--color-background-50);
  color: var(--color-text);
  border: none;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s;
  width: 30rem;
}

/* HEADER CSS */

header {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 2fr 1fr;
  padding-top: 165px;
  justify-content: space-between;
  position: relative;
}

.header-left h1 {
  font-size: 54px;
  margin-bottom: 20px;
  line-height: 1.2;
  letter-spacing: 0.00735em;
  color: var(--color-header-text);
  border-left: 5px solid var(--color-header-text);
  padding: 0 0 0 20px;
}

.header-left p {
  font-size: 18px;
  line-height: 1.8;
  color: #a1a1a1;
}

.movie-icon {
  height: 30px;
  width: 30px;
}

.header-right {
  max-width: 600px;
  position: relative;
  top: -40px;
  right: 140px;
  transform: perspective(700px) rotateY(-40deg);
  z-index: -200;
}

.movies-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.header-right::before {
  position: absolute;
  content: "";
  left: -5px;
  z-index: 99;
  height: 100%;
  width: 1400px;
  background-image: linear-gradient(
    90deg,
    var(--color-background-900),
    transparent
  );
}

.header-right img {
  width: 150px;
  height: 222px;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.96);
  }
  0% {
    transform: scale(1);
  }
}

.header-right img:nth-child(odd) {
  animation: heartbeat 3s infinite;
}

/* Genre Colors */

.action {
  color: rgb(140, 140, 255);
}
.horrer {
  color: rgb(145, 145, 145);
}
.thriller {
  color: rgb(255, 140, 255);
}
.comedy {
  color: rgb(140, 255, 196);
}
.drama {
  color: rgb(255, 140, 140);
}
.romance {
  color: Pink;
}
.adventure {
  color: rgb(140, 255, 140);
}

#header__tag {
  transition: color 0.5s ease-in-out;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

/* TOP RATED */

.top-rated-movies-list {
  position: relative;
}

.top-rated-movies-title {
  font-size: 20px;
  margin-bottom: 24px;
  color: var(--color-header-text);
  border-left: 5px solid var(--color-header-text);
  padding-left: 10px;
  border-radius: 5px;
}

.movie-list-grid-col {
  list-style: none;
  /* display: grid; */
  display: flex;
  gap: 8px;
}

.movie-list-grid-col img {
  height: 222px;
  width: 150px;
  object-fit: cover;
}

.left-arrow-div,
.right-arrow-div {
  background-color: rgb(251, 210, 63, 0.4);
  padding: 10px;
  border: 1.5px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  font-weight: bolder;
}

.left-arrow-div:hover {
  background-color: rgb(251, 210, 63, 0.6);
  color: var(--color-background-900);
}

.right-arrow-div:hover {
  background-color: rgb(251, 210, 63, 0.6);
  color: var(--color-background-900);
}

.left-arrow-div {
  position: absolute;
  top: 40%;
}
.right-arrow-div {
  position: absolute;
  top: 40%;
  right: 0;
}
